h1 {
    color:white;
    margin-top: 20%;
    font-size: 55px;
}
#one {
    width: 100%;

    background-image: url(https://cdn.pixabay.com/photo/2019/11/08/16/06/landscape-4611763__340.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#two {
    width: 100%;
    background: rgba(0,0,0, 0.2);
}
.container {
    width: 100%;
  
}
.one {
    color: white;
    margin-top: 35%;
    margin-left: 33%;
}
.floater {
    margin-left: 40%;
    margin-top :1%;
}
img {
    width: 100px;

}
h2 {
    margin-left: 45%;
}
.cardOne {
    /* background-image: url(https://www.simbisabrands.com/media/1635/pizza-inn-d-1.jpg); */
}
.cardTwo >img {
    margin-top: 20px;
}
ul li{
    text-decoration: none;
}
.five{
    margin-left :40%;
}

ul{
    /* display: flex; */
    align-items: flex-end;
    flex-direction: row;
  justify-content: center;
  
}
ul > li{
    text-decoration: none;
}
li{
    text-decoration:none;
    padding: 15px;
}
#four {
    background: black;
}
#four h2{
    color: white;
}
small{
    color: white;
}